@page
@model LoginModel
@namespace Pages

<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h3 class="mb-3">Password email sent</h3>
    <div class="p-3 shadow-lg form-box ">
        <p>You should get it soon</p>
        
        <div class="d-flex justify-content-center">
            <a href="Login">Back to login</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
